<div class="container">
  <div class="jumbotron">
    <h1>Proyecto Análisis de Algoritmos</h1>
    <p class="lead">Unitec le ha pedido su ayuda para optimizar la asignación de aulas de la programación académica y al mismo tiempo garantizar que las clases que los alumnos tomarán se abran en horarios diferentes. Los objetivos son:</p>
    <ul class="lead">
    	<li>Garantizar que todas las secciones tengan aula</li>
    	<li>Garantizar que ningún alumno tenga dos clases a la misma hora</li>
    	<li>Minimizar la cantidad de horarios diferentes</li>
    </ul>
    <p class="lead">Unitec le proporcionará la siguiente información:</p>
    <ol class="lead">
    	<li>Listado de alumnos y materias que matriculará</li>
    	<li>Listado de aulas</li>
    	<li>Listado de horarios</li>
    </ol>
  </div>
</div>