<div class="container">
	<p id="notice"><%= notice %></p>

	<p>
	  <strong>Number:</strong>
	  <%= @room.number %>
	</p>

	<button type="button" class="btn btn-default"><%= link_to 'Edit', edit_room_path(@room) %></button> |
	<button type="button" class="btn btn-default"><%= link_to 'Back', rooms_path %></button>
</div>